<div class="font1">
  <p>
    Hello, my name is Dylan. I live in Massachusetts, where I will be moving to
    Florida. I have made this website with almost no help.
  </p>
</div>

<p>Here are some minecraft builds.(not mine)</p>
<div class="wrapper">
  <div class="game-pics">
    <div class="font">
      <p>
        I like this cozy little village! Even though it's not very little...
      </p>
    </div>
    <img
      height="auto"
      width="1800px"
      src="../assets/maxresdefault.jpg"
      class="grid-img"
    />
  </div>
  <div class="game-pics">
    <div class="font"><p>Not very big, but I like it!</p></div>
    <img
      height="auto"
      width="1800px"
      src="../assets/maxresdefault.jpg2.jpg"
      class="grid-img"
    />
  </div>
  <div class="game-pics">
    <div class="font">HUUUUGGGGE</div>
    <img
      height="auto"
      width="1800px"
      src="../assets/maxresdefault.jpg3.jpg"
      class="grid-img"
    />
  </div>
  <div class="game-pics">
    <div class="font">
      <p>My favorite! Why? Simple, but has tons of features!</p>
    </div>
    <img
      height="auto"
      width="1800px"
      src="../assets/maxresdefault.jpg4.jpg"
      class="grid-img"
    />
  </div>
  <div class="game-pics">
    <div class="font">Something different! Why not?(Game: Geometry Dash)</div>
    <img
      height="auto"
      width="1800px"
      src="../assets/maxresdefault.jpg5.jpg"
      class="grid-img"
    />
  </div>
  <div class="game-pics">
    <div class="font"><p>The Eiffel Tower?!?</p></div>
    <img
      height="auto"
      width="1800px"
      src="../assets/2016-04-30_19.19.31.png"
      class="grid-img"
    />
  </div>

  <style></style>
</div>
