<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/HJB06WMSRJypgtSy_mR3uQ?viewBox=1517%2C1005&ownerId=A269VYIU30FPEQ&groupShareToken=GUwkR0bRQKibysYFZxC1qQ.0dDS72zmGKW3MFd1BWUWy9"
  alt=""
/>
<p>Here I am,</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/nFKZzBiHSIqVS-rnAbPFPA?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/WuTdFtjIQEqcwKRoDTkSgA?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>This is me, looking at all the food(including cake!).</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/QTPXGv9xSreeU4jf9zdP3A?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Minh and Tranh, preparing the cake.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/7R4OfJEvTJm8Cc0osB6pXQ?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>The cake!</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/vWTrUQQmRQ-o2YxjJzY6pw?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus, kinda looking grumpy.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/U51b5RQ2SI2bqrKvo0ZAUQ?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/gp8Bh_XUR8ecarpgq--TlA?viewBox=623%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus, who has blown out the candles on HIS cake.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/cw7uQrYOSiWJFkI-TN8RBQ?viewBox=623%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus <i>blowing</i> out the candles.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/--l_o-XAR8qxEw7o2Y8Fww?viewBox=623%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Some more of Angus!</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/qFwB0sJwR6-r7FdZLBqyvQ?viewBox=623%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus looking at the cake... JUST DO SOMETHING ALREADY</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/CkCkFOuXRteM9pJhlSQ9NQ?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Minh and Tranh, preparing Angus' cake.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/rdd3n8S0QxOJSTeXPx2jwg?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/7Fw1vSAuT_SUstDVAR9NoA?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/iLbshFxuTHGIcufaqUq2kg?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/nvhcqoLyR2aPr0EiMbinaw?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/W-8HM95kSNCQ_5yK6OXs3g?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus looking kinda funny, with Minh and Tranh in the background.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/GrFdL07EQtGS0n-j6-OxSA?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus is happy with his cake in the background!</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/mKo3MBfpTFS6BHtzTtcUXg?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/yMYAeD-vSsKGOGbTrX8LnA?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/OUGJLxtXRxS8Sp9A1BXQ8w?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/ja9IRp8-Rni9gmq-06odng?viewBox=1422%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/K53J6YsdTwywsURNENj9ww?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Me and Angus are so happy!</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/6l6meECxRLG9plrhz8x95g?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/zebL6UMfRYS6FnBWDlSHmQ?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>We love each other(sometimes!).</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/7VzOwxdYS2y7MD46hEOuuA?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/Mh9GL-jjRwqEhkBJcdryTg?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/64uciqKZQjSXdQZ4d9GhYw?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/H8BFeqFCRTOEuRzIWQlE0w?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Kinda blurred...</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/QWQ_KW_7RzK33VnRHBXTBw?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus trying to get out of the picture... hehehe</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/yqmvfri3SKuVmoOXfOa_4w?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>For whatever reason, I am giving myself bunny ears.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/PFQ5QVSsSUuquUxCXVNvKg?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus giving him and I bunny ears.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/hYUYx2FsQpajgmZOSz_Xbg?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>ME LOOKING SUS......</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/203NS5ZtQIOlee39vEQ06A?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Now Angus be looking sussy..</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/2t8yoMo6Q5COqQ-MtbpNYg?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Yes.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/BFzOzoYZQeeBTKFszLs7AQ?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Why am I leaning on him so much?</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/iApGNjp8TN6Hc0Hbp_mzOQ?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Me.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/Qdhyu56KQ4yYvJst_jRo7A?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Still me.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/eB24UF7ESZio3KVVuuAl3g?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Angus.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/3y9ehtKUQHyTSWJcv1T7vw?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Me some more.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/B5qZzwUnQa6RvlI8x6g_og?viewBox=1256%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>Me looking at whatever I'm looking at.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/Q5eEv-hvSvOgPwmbL87e9A?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p>This is us.</p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/gjdp5c9_TDuOp_Ao4FTybA?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/xlnoHJOMRe-EiEDCvTrBEA?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/1wQPEqmJQvWUG1h1UrBeCQ?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/by38_p6iSW6CpJmuSDHAig?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/K13lcKiiTGCneABqYWU3lA?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/ilfFAO_oSEWVz5M9Tdcf4A?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/N8WrZlydSSiZ3embg4RWQg?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<p></p>
<hr />
<img
  class="my-cake-pic"
  src="https://thumbnails-photos.amazon.com/v1/thumbnail/Z8XsmnEFTdi0mUs27B-1mA?viewBox=707%2C942&ownerId=A269VYIU30FPEQ"
  alt=""
/>
<button class="{{ submitSuccessClass }}" (click)="onSubmitButton()">
  {{ submitSuccess }}
</button>
